/*-------------------------------------------- For the whole site*/
body {
	overflow-x: hidden;
    background-size: cover;
    background-attachment: fixed;
    background-image:  url(../images/background.jpg);
    background-repeat: no-repeat;
	font-family: 'Baloo Paaji 2', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
	line-height: 1.30
}

a {
	color: #212529
}

a:hover {
	color: #fed136
}

hr {
    margin-top: 20px!important;
    margin-bottom: 40px!important;
    margin-left: 130px!important;
    margin-right: 130px!important;
    border-color: #727878!important;
    opacity: 0.3!important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Baloo Paaji 2', cursive!important;
    color: #0f215f
    }

.page-section h2.section-heading {
	font-size: 34px;
	margin-top: 0;
	margin-bottom: 10px
}

/*------------------------ For PC and large screen devices*/

::-moz-selection {
	background: #fed136;
	text-shadow: none
}

::selection {
	background: #fed136;
	text-shadow: none
}

img::-moz-selection {
	background: 0 0
}

img::selection {
	background: 0 0
}

img::-moz-selection {
	background: 0 0
}

.btn {
	font-weight: 1000
}

.btn-primary {
	background-color: #0f215f;
	border-color: #fff
}

.btn-link{
    color: #e29300;
}

.btn-link:active,
.btn-link:focus,
.btn-link:hover{
    color: #e25300;
    text-decoration: none
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #fec810!important;
	border-color: #fec810!important;
	color: #fff
}

.btn-primary:active,
.btn-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(254, 209, 55, .5)!important
}

.container_c {
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

.col-lg-3 {
    padding-left: 20px;
    padding-right: 20px
}

.col-lg-6 {
    padding-left: 20px;
    padding-right: 20px;
}

/*----------------------------------- Nav bar */
#mainNav .navbar-brand {
	color: #fed136;
    font-family: 'Bellota', cursive;
    font-size: 2.0em
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
	color: #fec503
}

#mainNav .navbar-nav .nav-item .nav-link {
	font-size: 100%;
	font-weight: 400;
	padding: .75em 0;
	letter-spacing: 1px;
	color: #fff;
	font-family: 'Baloo Paaji 2', cursive
    }

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
	color: #fed136
}

@media (min-width:992px) {

	#mainNav {
		padding-top: 5px;
		padding-bottom: 5px;
		transition: padding-top .3s, padding-bottom .3s;
		border: none
	}
	#mainNav .navbar-brand {
		font-size: 40px;
		transition: all .3s
	}
	#mainNav .navbar-nav .nav-item .nav-link {
		padding: 1.1em 1em!important
	}
	#mainNav.navbar-shrink {
		padding-top: 0;
		padding-bottom: 0;
		background-color: #fed136
	}
	#mainNav.navbar-shrink .navbar-brand {
		font-size: 1.25em;
		padding: 12px 0
	}

}


/*-------------------------------------------- Main Page */
#mainpage{
  position: relative;
  min-height: 100vh
}

.background-field {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 15px 15px;
    border-radius: 15px;
}

#artist_search {
    margin-right: 10px
}

#artist_id {
    margin-bottom: 8px
}

.ui-autocomplete {
    list-style-type: none;
    width: 160px;
    background-color: #ffffff;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
  text-decoration: none;
  color: #fed136;
  background-color: #f5f5f5;
  cursor: pointer;
}

#search_param {
    margin-bottom: 20px
}

.song_name {
    color:#0f215f
}

.song_name:hover {
	color: #fed136
}

#search_result_body1 {
    margin-bottom:10px;
}

#search_result_body2 {
    border: none;
    padding: 5px;
    width: 100%;
    height: 150px;
    overflow-x: scroll;
    overflow-y: scroll;
    box-sizing: border-box
}

ul {
    padding-left: 0px!important;
    margin-bottom: 0.5rem!important;;
}

#lyrics {
margin: auto;
border: none;
padding: 5px;
width: 100%;
height: 400px;
overflow-x: scroll;
overflow-y: scroll;
}

#video-window{
    padding-bottom: 20px
}

/*-------------------------------------------- Media Query */

@media screen and (min-width:0px) and (max-width:480px) {
.container_c {
    padding-top: 12vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 20vh;
    position: relative;
    min-height: 100vh
}
#mainpage .background {
    background-attachment: scroll!important
}
.col-lg-3 {
    padding-bottom: 20px
}
.col-lg-6 {
    padding-bottom: 20px
}
#mainNav {
    background-color: #1f1f1f;
}
#musixmatch_id {
  width: 40%;
  height: auto
}
}

@media screen and (min-width:480px) and (max-width:768px) {
.container_c {
    padding-top: 12vh;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 14vh;
    position: relative;
    min-height: 100vh;
}
.col-lg-3 {
    padding-bottom: 20px
}
.col-lg-6 {
    padding-bottom: 20px
}
#mainNav {
    background-color: #1f1f1f;
}
#musixmatch_id {
  width: 30%;
  height: auto
}
}

@media screen and (min-width:768px) and (max-width:992px) {
.container_c {
    padding-top: 12vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 13vh;
    position: relative;
    min-height: 100vh
}
.col-lg-3 {
    padding-bottom: 20px
}
.col-lg-6 {
    padding-bottom: 20px
}
#mainNav {
    background-color: #1f1f1f;
}
#musixmatch_id {
  width: 60%;
  height: auto
}
}

@media screen and (min-width:992px) and (max-width:1366px) {
.container_c {
    padding-top: 13vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 9vh;
    position: relative;
    min-height: 100vh
}
#search_result_body2 {
    height: 240px;
}
#lyrics {
    height: 400px;
}
#musixmatch_id {
  width: 60%;
  height: auto
}
}

@media screen and (min-width: 1366px) and (max-width:2560px) {
.container_c {
    padding-top: 15vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 13vh;
    position: relative;
    min-height: 100vh
}
#search_result_body2 {
    height: 380px;
}
#lyrics {
    height: 500px;
}
#musixmatch_id {
  width: 60%;
  height: auto
}
}
/*-------------------------------------------- Footer */

.footer {
    position: absolute;
	padding: 15px 0;
	text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer span.copyright {
	font-size: 90%;
    color: #fed136;
	line-height: 30px;
	text-transform: none;
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.footer ul.quicklinks {
	font-size: 90%;
	line-height: 40px;
	margin-bottom: 0;
	text-transform: none;
	font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
}

ul.social-buttons {
	margin-bottom: 0
}

ul.social-buttons li a {
	font-size: 27px;
	line-height: 45px;
	display: flex;
	width: 45px;
	height: 45px;
	align-items: center;
	justify-content: center;
	transition: all .2s;
	color: #fff;
	border-radius: 100%;
	outline: 0;
	background-color: #212529
}


ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
	background-color: #fed136;
	text-decoration: none
    }